* {
    margin: 0;
    padding: 0;
}
/* Login */
.login {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 10%;
    left: 42%;
    border: 5px solid gray;
    border-radius: 10px;
    text-align: center;
}
h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 20px;
}
img {
    vertical-align: middle;
}
/*
button{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}
button:hover{
    font-size: 15px;
}
*/
/* Trag */
#box{
        width: 100%;
        height: 50px;
        background-color: #dddada;
        font-size: 20px;
}
#box ul li{
    display: inline;
    margin: 10px;
    font-size: medium;
    font-size: large;
    text-align: right;
    float: right;
}

#box1{
    text-align: center;
	background-color: #ffffff;
	width: 100%;
    height: 204px;
}
/* menu */
#menu ul
{
  background-color: black;
  margin-top:  10px;
  text-align: center;
}
#menu ul li
{
  list-style-type: none;
  display: inline;
  margin-left: 100px;
  font-size: larger;
}

#menu ul li a:link 
{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}           

#menu ul li a:visited
{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}              

#menu ul li a:hover
{
   background-color: #4f0cec;
}
/*khối slide*/
body {
    padding: 20px;
    text-align: center;
  }
 #slideshow {
    overflow: hidden;
    height: 66%;
    width: 33%;
    margin: 10px auto;
  }
 .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 14s ease infinite;
  }
 .slide {
    float: left;
    height: 500px;
    width: 700px;
  }
 @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  }